.screen {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen .phoneScree {
  background-color: rgba(92, 110, 247, 1);
  height: 852px;
  position: relative;
  width: 393px;
}

.screen .managerMain {
  background-color: #ffffff;
  height: 728px;
  left: 0px;
  position: absolute;
  top: 124px;
  width: 393px;
}

.screen .requestsBox {
  height: 54px;
  left: 5px;
  position: absolute;
  top: 77px;
  width: 385px;
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #0000001a;
}

/* .screen .element1 {
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #0000001a;
  height: 54px;
  position: relative;
  width: 383px;
} */

.screen .managerListText {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
  white-space: nowrap;
}

.screen .nextButton {
  background-image: url("../images/arrow1.svg");
  border: 0;
  background-color: #ffffff;
  height: 24px;
  left: 347px;
  position: absolute;
  top: 13px;
  width: 24px;
}

.screen .memberListBox {
  height: 54px;
  left: 5px;
  position: absolute;
  top: 144px;
  width: 385px;
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #0000001a;
}

.screen .writePostBox {
  height: 54px;
  left: 5px;
  position: absolute;
  top: 10px;
  width: 385px;
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #0000001a;
}

.screen .topBar {
  height: 24px;
  left: 16px;
  position: absolute;
  top: 86px;
  width: 226px;
}

.screen .back {
  background-image: url("../images/backArrow.svg");
  border: 0;
  background-color: rgba(92, 110, 247, 1);
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 24px;
}

.screen .managerText {
  color: #ffffff;
  font-family: "SeoulNamsan CBL-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 130px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}
