.screen {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen .phoneScreen {
  background-color: rgba(92, 110, 247, 1);
  height: 852px;
  position: relative;
  width: 393px;
}

.screen .members {
  background-color: #ffffff;
  height: 728px;
  left: 0;
  position: absolute;
  top: 124px;
  width: 393px;
}

/* .div-wrapper .element {
  border: 3px solid orange;
  height: 54px;
  left: 5px;
  position: relative;
  top: 10px;
  width: 387px;
} */

.screen .member {
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #0000001a;
  height: 54px;
  position: relative;
  width: 383px;
}

.screen .memberName {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
  white-space: nowrap;
}

.screen .memberInfo {
  color: #00000040;
  font-family: "Inter-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  left: 92px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 19px;
}

.screen .delete {
  background-color: #9f9f9f1c;
  border: 1px solid #0000001c;
  border-radius: 20px;
  height: 40px;
  left: 309px;
  position: absolute;
  top: 6px;
  width: 57px;
}
/* .screen .buttonBox {
  border: 3px solid green;
  height: 40px;
  left: 309px;
  position: absolute;
  top: 6px;
  width: 57px;
} */

/* .screen .delete {
  background-color: #9f9f9f1c;
  border: 1px solid #0000001c;
  border-radius: 20px;
  height: 40px;
  position: relative;
  width: 55px;
} */

.screen .topBar {
  height: 25px;
  left: 16px;
  position: absolute;
  top: 86px;
  width: 245px;
}

.screen .back {
  background-image: url("../images/backArrow.svg");
  border: 0;
  background-color: rgba(92, 110, 247, 1);
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 24px;
}

.screen .memberListText {
  color: #ffffff;
  font-family: "SeoulNamsan CBL-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 119px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
  white-space: nowrap;
}
