@font-face {
  font-family: "SUITE-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

.screen {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen .phoneScreen {
  background-color: rgba(92, 110, 247, 1);
  height: 852px;
  width: 393px;
}

.screen .topBar1 {
  height: 786px;
  position: relative;
  top: 66px;
}

.screen .myPageButton {
  background-image: url("../images/mypageButton.svg");
  border: 0;
  background-color: rgba(92, 110, 247, 1);
  height: 40px;
  left: 338px;
  position: absolute;
  top: 9px;
  width: 40px;
  cursor: pointer;
}

/* .screen .user {
  height: 32px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 32px;
}

.screen .overlap-group {
  height: 786px;
  left: 0;
  position: absolute;
  top: 0;
  width: 393px;
} */

.screen .hongBoButton {
  height: 59px;
  left: 131px;
  position: absolute;
  top: 0;
  width: 123px;
}

.screen .hongBoPostY {
  background-color: #ffffff;
  border-radius: 20px 20px 0px 0px;
  border: 0;
  box-shadow: inset 0px 4px 4px #00000040;
  height: 59px;
  /* position: relative; */
  width: 121px;
  color: rgba(92, 110, 247, 1);
  font-family: "SUITE-Regular", Helvetica;
  font-size: 20px;
  font-weight: 700;
}

/* .screen .text-wrapper {
  color: rgba(92, 110, 247, 1);
  font-family: "SeoulNamsan CBL-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 18px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 20px;
  white-space: nowrap;
} */

.screen .clubButton {
  height: 59px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 123px;
}

.screen .clubPostN {
  background-color: rgba(92, 110, 247, 1);
  border: 0;
  border-radius: 20px 20px 0px 0px;
  height: 59px;
  position: relative;
  width: 121px;
  color: #ffffff;
  font-family: "SUITE-Regular", Helvetica;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

/* .screen .text-wrapper-2 {
  color: #ffffff;
  font-family: "SeoulNamsan CBL-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 37px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 20px;
  white-space: nowrap;
} */

.screen .hongBoScreen {
  background-color: #ffffff;
  height: 728px;
  left: 0;
  position: absolute;
  top: 58px;
  width: 393px;
}

.screen .hongBoList {
  height: 722px;
  left: 6px;
  position: relative;
  top: 6px;
  width: 375px;
  max-height: 728px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
}
.hongBoList::-webkit-scrollbar {
  width: 6px;
}

.hongBoList::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.hongBoList::-webkit-scrollbar-track {
  background-color: transparent; /* 스크롤바 트랙 배경 제거 */
}

.screen .hongBo {
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #0000001a;
  height: 171px;
  position: relative;
  width: 381px;
  cursor: pointer;
}

.screen .hongBoName {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 17px;
  font-weight: 700;
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 18px;
  width: 244px;
}

.screen .hongBoInfo {
  color: #00000040;
  font-family: "Inter-Bold", Helvetica;
  font-size: 17px;
  font-weight: 700;
  left: 17px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 56px;
  width: 243px;
  height: 100px;
}
.hongBoImage {
  background-color: #899ec7;
  height: 89px;
  width: 89px;
  position: absolute;
  top: 45px;
  left: 279px;
  border-radius: 8px;
  overflow: hidden;
}

.hongBoImage.hasImage {
  background-color: transparent;
}

.hongBoImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}
