.screen {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen .phoneScreen {
  background-color: rgba(92, 110, 247, 1);
  height: 852px;
  width: 393px;
}

.screen .overlap {
  height: 786px;
  position: relative;
  top: 66px;
}

.screen .view {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: inset 0px 4px 4px #00000040;
  height: 40px;
  left: 338px;
  position: absolute;
  top: 9px;
  width: 40px;
}

.screen .user {
  height: 32px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 32px;
}

.screen .overlap-group {
  height: 786px;
  left: 0;
  position: absolute;
  top: 0;
  width: 393px;
}

.screen .overlap-group-wrapper {
  height: 59px;
  left: 131px;
  position: absolute;
  top: 0;
  width: 123px;
}

.screen .div {
  background-color: #ffffff;
  border-radius: 20px 20px 0px 0px;
  box-shadow: inset 0px 4px 4px #00000040;
  height: 59px;
  position: relative;
  width: 121px;
}

.screen .text-wrapper {
  color: var(--maincolor);
  font-family: "SeoulNamsan CBL-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 18px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 20px;
  white-space: nowrap;
}

.screen .view-2 {
  height: 59px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 123px;
}

.screen .clubPost2 {
  background-color: rgba(92, 110, 247, 1);
  border: 0;
  border-radius: 20px 20px 0px 0px;
  height: 59px;
  position: relative;
  width: 121px;
  color: #ffffff;
  font-family: "SeoulNamsan CBL-Regular", Helvetica;
  font-size: 17px;
  font-weight: 400;
}

.screen .text-wrapper-2 {
  color: #ffffff;
  font-family: "SeoulNamsan CBL-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 37px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 20px;
  white-space: nowrap;
}

.screen .view-wrapper {
  background-color: #ffffff;
  height: 728px;
  left: 0;
  position: absolute;
  top: 58px;
  width: 393px;
}

.screen .view-3 {
  height: 171px;
  left: 6px;
  position: relative;
  top: 6px;
  width: 385px;
}

.screen .overlap-group-2 {
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #0000001a;
  height: 171px;
  position: relative;
  width: 381px;
}

.screen .text-wrapper-3 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 17px;
  font-weight: 700;
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 18px;
  width: 244px;
}

.screen .text-wrapper-4 {
  color: #00000040;
  font-family: "Inter-Bold", Helvetica;
  font-size: 17px;
  font-weight: 700;
  left: 17px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 56px;
  width: 243px;
}

.screen .view-4 {
  background-color: #899ec7;
  height: 89px;
  left: 279px;
  position: absolute;
  top: 45px;
  width: 89px;
}
