.screen {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen .phoneScree {
  background-color: rgba(92, 110, 247, 1);
  height: 852px;
  position: relative;
  width: 393px;
}

.screen .view {
  background-color: #ffffff;
  height: 728px;
  left: 0px;
  position: absolute;
  top: 124px;
  width: 393px;
}

.screen .overlap-group-wrapper {
  height: 54px;
  left: 5px;
  position: absolute;
  top: 77px;
  width: 385px;
}

.screen .overlap-group {
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #0000001a;
  height: 54px;
  position: relative;
  width: 383px;
}

.screen .text-wrapper {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
  white-space: nowrap;
}

.screen .nextButton {
  height: 24px;
  left: 347px;
  position: absolute;
  top: 13px;
  width: 24px;
}

.screen .overlap-wrapper {
  height: 54px;
  left: 5px;
  position: absolute;
  top: 144px;
  width: 385px;
}

.screen .view-2 {
  height: 54px;
  left: 5px;
  position: absolute;
  top: 10px;
  width: 385px;
}

.screen .view-3 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 86px;
  width: 226px;
}

.screen .back {
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 24px;
}

.screen .text-wrapper-2 {
  color: #ffffff;
  font-family: "SeoulNamsan CBL-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 138px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}
