@font-face {
  font-family: "SUITE-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
}

.screen {
  background-color: #e4e4e4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen .phoneScreen {
  background-color: #85aadb;
  border-radius: 40px;
  height: 852px;
  position: relative;
  width: 393px;
}

.screen .myClubPosts {
  background-color: #ffffff;
  height: 728px;
  left: 0;
  position: absolute;
  top: 124px;
  width: 393px;
}

/* .screen .element {
  height: 54px;
  left: 5px;
  position: relative;
  top: 10px;
  width: 387px;
} */

.screen .myClubPost {
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #0000001a;
  height: 54px;
  position: relative;
  width: 400px;
}

/* .screen .overlap-group {
  background-color: #9f9f9f1c;
  border: 1px solid;
  border-color: #0000001c;
  border-radius: 20px;
  height: 40px;
  position: relative;
  width: 55px;
} */

/* .screen .text-wrapper {
  color: #0000009c;
  font-family: "Inter-Bold", Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 13px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
  white-space: nowrap;
  width: 32px;
} */

/* .screen .overlap-wrapper {
  height: 40px;
  left: 257px;
  position: absolute;
  top: 6px;
  width: 57px;
} */

/* .screen .text-wrapper-2 {
  color: #0000009c;
  font-family: "Inter-Bold", Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
  white-space: nowrap;
  width: 32px;
} */

.screen .myClubPostName {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
  white-space: nowrap;
}

.screen .joinedClubTop {
  height: 24px;
  left: 16px;
  position: absolute;
  top: 86px;
  width: 350px;
  color: #ffffff;
  font-family: "SUITE-Regular", Helvetica;
  font-size: 20px;
  font-weight: 500;
  /* left: 120px; */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  /* top: 2px; */
  white-space: nowrap;
  text-align: center;
}

.screen .back {
  background-image: url("../images/backArrow.svg");
  border: 0;
  background-color: #85aadb;
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 24px;
}

.screen .joinedClubText {
  color: #ffffff;
  font-family: "SUITE-Regular", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 120px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2px;
  white-space: nowrap;
}

.screen .managerButton {
  background-image: url("../images/managerButton.svg");
  border: 0;
  background-color: #85aadb;
  height: 24px;
  left: 350px;
  position: absolute;
  top: 88px;
  width: 24px;
}
