.element{
    background-color: #5c6ef6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.element .div{
    background-color: #f8f8f8;
    height: 852px;
    overflow: hidden;
    position: relative;
    width: 393px;
}

.element .view{
    height: 728;
    left:0;
    position: absolute;
    top: 124px;
    width: 399;
}

.element .overlap-group {
    background-color: #ffffff;
    height: 728px;
    position: relative;
    width: 393px;
}

.element .text-wrapper{
    color: #000000;
    height: 728px;
    position: relative;
    width: 393;
}

.element .view-2{
    background-color: #899ec7;
    height: 350px;
    left: 22px;
    position: absolute;
    top: 56px;
    width: 350px;
}
.element .text-wrapper-2{
    color: #000000;
    font-size: 17px;
    font-weight: 700;
    left: 31px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 25px;
}

.element .text-wrapper-3{
    color: #7474749e;
    font-size: 15px;
    font-weight: 700;
    left: 312px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: underline;
    top: 35px;
    width: 60px;
}

.element .view-3{
    height: 24px;
    left: 16px;
    position: absolute;
    top: 86px;
    width: 217px;
}

.element .text-wrapper-4{
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    left: 147px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: underline;
    top: 2px;
    white-space: nowrap;
}
